body {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  background-color: #FAFAFA;
  }

body:hover {
  background-image: url("heavybreathing1.jpg");
}

h1 {
  text-align: center;
}

figcaption {
  font-size: 14px;
}


div {
  padding: 20px;
  background-color: #BDBEDB;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  display: inline;
}

div:hover {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  background-color: #AAACCC;
  font-size: 12px;
}

button:hover {
  background-color: #FAFAFA;
}
